# Виключити всі файли та каталоги, які необхідно ігнорувати під час будівництва образу Docker

# Файли, які генеруються в процесі будівництва (наприклад, вихідні файли збірки)
../target/

# Кеш та тимчасові файли системи будівництва
node_modules/
build/
dist/
*.log

# Всі файли та каталоги, які не повинні потрапляти в Docker-образ
.git/
.idea/
.vscode/
