# Exclude all files and directories that should be ignored during Docker image build

# Files generated during the build process (e.g., build output files)
../target/

# Cache and temporary build system files
node_modules/
build/
dist/
*.log

# All files and directories that should not go into the Docker image
.git/
.idea/
.vscode/
